node_modules/
dist/
dist_temp/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.project
.DS_Store
.temp/
.taro/
config/dev.js
config/prod.js
package-lock.json
project.config.json.bak
dist/project.config.json
