.velvet-bg-seats {
  background: linear-gradient(145deg, #5d000a 0%, #81131a 100%);
  position: relative;
  overflow: hidden;
}
.velvet-bg-seats::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBZe_N-fPbgPH87ExO9EB7JJIcjgyEdkElPjk2tjL1V_c8Ngiqd1uC35700oriys_QcvtlAKOzL6DaJHkxQ1w-brQc4pgN9copVWmdhH3zbRK2IaEahMr3MFr4KLI1NNn1BjcTjqIfCQ0cJOTx0J8gXg-KYfZE9A6muObnIaSmnoOVOAFGIcsd6c_0a9b17deur39d5s8GmByPUay965rZIF6HqRiSRDKQlp8YgFL5Lj5WtHxgk88lv1wCxL6b27T5s7IwQxRnKU-g');
  opacity: 0.15;
  pointer-events: none;
}
.parchment-ticket {
  background-color: #fcf3d8;
  position: relative;
}
